*
{
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    padding: 30px;
    margin: 0;
    border: 0;
    display: flex;
    /* flex-direction: column; */
    flex: 1 1 auto;
}
.container.one 
{
    background-color: #1F2937;
    justify-content: space-between; 
    color: #F9FAF8;
}
.container.one .links
{
    align-items: center;
    display: flex;
    font-size: 18px;
}
.container.one .logo
{
    font-size: 24px;
    font-weight: 700;
}
.item
{
    padding: 7px;
}
.container.one button
{
    background-color: #3882F6;
}
.container.one .about-text
{
    flex-direction: column;
    font-size: 18px;
    /* padding: 30px; */
}
.container.one .about-text .main
{
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}
.container.one .about-text .secondary
{
    font-size: 18px;
    color: #EFE7EB;
}
.container.one .about-image img
{
    height: 180px;
    width: auto;
    border-radius: 10px;
}
button
{
    border-radius: 8px;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    color: #F9FAF8;
    font-size: 18px;;
}
.container.two
{
    flex-direction: column;
    align-items: center;
}
.container.two,h3
{
    background-color: whitesmoke;
    justify-content: center;
    padding-bottom: 0%;

}
.container.two .illustration 
{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    gap: 20px;
}
.illustration .item p
{
    text-align: center;
}
.illustration img
{
    height: 180px;
    width: auto;
    border-radius: 10px;
}
.container.quote 
{
    padding: 60px;
    padding-top: 30px;
    flex-direction: column;
    background-color: #EFE7EB;
    font-size: 25px;
    font-weight: 0;
}
.container.quote p
{
    font-style: italic;
    font-size: 36px;
}
.container.quote div
{
    text-align: right;
}
.container.sign-up 
{
    background-color: rgb(72, 23, 250);
    margin: 70px;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
}
.container.sign-up div button
{
    background-color: rgb(72, 23, 250);
    color: white;
}
.container.sign-up div .main
{
    font-size: 25px;
    font-weight: 700;
}
.container.sign-up div .secondary
{
    font-size: 15px;
    font-weight: 500;
}
footer
{
    text-align: center;
    padding: 30px;
    background-color: #1F2937;
    color:antiquewhite
}
img
{
    height: 50px;
    width: auto;
}